// @import 'fileName';

body {
  text-align: center;
}

.container {
  max-width: 500px;
}

.newPlayer-radio-group {
  text-align: left;
  display: inline-block;
}

.playerPresentCheckbox-div {
  display: inline-block;
  float: right;
}

.ifpaSearchPlayerRow-div {
  margin: 0 0 0 0;
}

#groupitize-button {
  margin-bottom: 10px;
}
