doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    title
      | Austin Pinball Scores
    link(rel="stylesheet" href="style.css" type="text/css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css")
    link(href='https://fonts.googleapis.com/css?family=Dosis:400,600,700,500' rel='stylesheet' type='text/css')

  body
    script(src="vendor.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="pinballScores.js")
    script(src="app.js")

    header
      h1.title Austin Pinball Scores

    section
      div
        table.table.table-bordered.table-striped
          thead
            tr
              th
              th(colspan="2")
              th#player1ColumnHeader.player1(colspan="5")
              th#player2ColumnHeader.player2(colspan="4")
              th#player3ColumnHeader.player3(colspan="4")
              th#player4ColumnHeader.player4(colspan="4")
            tr
              th
              th
                | All Average
              th
                | All Plays
              th.player1
                | Ratio
              th.player1
                | Average
              th.player1
                | High
              th.player1
                | Low
              th.player1
                | Plays
              th.player2
                | Average
              th.player2
                | High
              th.player2
                | Low
              th.player2
                | Plays
              th.player3
                | Average
              th.player3
                | High
              th.player3
                | Low
              th.player3
                | Plays
              th.player4
                | Average
              th.player4
                | High
              th.player4
                | Low
              th.player4
                | Plays
          tbody


    script(id="player-column-header" type="text/x-handlebars-template")
      .dropdown
        button.btn.btn-default.dropdown-toggle.player-name(id="{{playerIdDropdownMenu}}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
          | Choose a Player
          span.caret
        ul.dropdown-menu(aria-labelledby="{{playerIdDropdownMenu}}")
          | {{#each players}}
          li
            a(data-value="action" data-id="{{ifpaId}}")
              | {{playerName}}
          | {{/each}}



    script(id="score-row-template" type="text/x-handlebars-template")
      tr
        th
          | {{pinName}}
        td
          | {{allAverage}}
        td
          | {{allPlays}}
        td.player1(class="{{p1GoodOrBad}}")
          | {{p1Ratio}}
        td.player1(class="{{p1GoodOrBad}}")
          | {{p1Average}}
        td.player1(class="{{p1GoodOrBad}}")
          | {{p1High}}
        td.player1(class="{{p1GoodOrBad}}")
          | {{p1Low}}
        td.player1
          | {{p1Plays}}
        td.player2(class="{{p2GoodOrBad}}")
          | {{p2Average}}
        td.player2(class="{{p2GoodOrBad}}")
          | {{p2High}}
        td.player2(class="{{p2GoodOrBad}}")
          | {{p2Low}}
        td.player2
          | {{p2Plays}}
        td.player3(class="{{p3GoodOrBad}}")
          | {{p3Average}}
        td.player3(class="{{p3GoodOrBad}}")
          | {{p3High}}
        td.player3(class="{{p3GoodOrBad}}")
          | {{p3Low}}
        td.player3
          | {{p3Plays}}
        td.player4(class="{{p4GoodOrBad}}")
          | {{p4Average}}
        td.player4(class="{{p4GoodOrBad}}")
          | {{p4High}}
        td.player4(class="{{p4GoodOrBad}}")
          | {{p4Low}}
        td.player4
          | {{p4Plays}}
