doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    title
      | Austin Pinball Scores
    link(rel="stylesheet" href="style.css" type="text/css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css")
    link(href='https://fonts.googleapis.com/css?family=Dosis:400,600,700,500' rel='stylesheet' type='text/css')

  body
    script(src="vendor.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="pinballScores.js")
    script(src="app.js")

    header.row
      div.col-md-6
        h1.title Austin Pinball Scores
      div.col-md-6
        #settings-accordion.panel-group(role='tablist', aria-multiselectable='true')
          .panel.panel-default
            #pinFiltersHeading.panel-heading(role='tab')
              h4.panel-title
                a(role='button', data-toggle='collapse', data-parent='#accordion', href='#pinFiltersCollapse', aria-expanded='false', aria-controls='pinFiltersCollapse')
                  | Pin Filters
            #pinFiltersCollapse.panel-collapse.collapse(role='tabpanel', aria-labelledby='settingsHeading')
              .panel-body
                form.form-inline
                  .form-group.make-form
                    label Make: &nbsp;
                    label.checkbox-inline
                      input#ballyFilterCheckbox(type='checkbox', value='bally', checked)
                      |  Bally
                    label.checkbox-inline
                      input#dataeastFilterCheckbox(type='checkbox', value='dataeast', checked)
                      |  Data East
                    label.checkbox-inline
                      input#gottliebFilterCheckbox(type='checkbox', value='gottlieb', checked)
                      |  Gottlieb
                    label.checkbox-inline
                      input#segaFilterCheckbox(type='checkbox', value='sega', checked)
                      |  Sega
                    label.checkbox-inline
                      input#sternFilterCheckbox(type='checkbox', value='stern', checked)
                      |  Stern
                    label.checkbox-inline
                      input#williamsFilterCheckbox(type='checkbox', value='williams', checked)
                      |  Williams
                br
                .form-group.year-form
                  label Year: &nbsp;
                  label.sr-only(for='startYearFilter') Start Year
                  input#startYearFilter.form-control(type='text', value='1950')
                  | &nbsp; to &nbsp;
                  label.sr-only(for='startEndFilter') End Year
                  input#endYearFilter.form-control(type='text', value='2050')

            #scoreFiltersHeading.panel-heading(role='tab')
              h4.panel-title
                a(role='button', data-toggle='collapse', data-parent='#accordion', href='#scoreFiltersCollapse', aria-expanded='false', aria-controls='scoreFiltersCollapse')
                  | Score Filters
            #scoreFiltersCollapse.panel-collapse.collapse(role='tabpanel', aria-labelledby='filtersHeading')
              .panel-body
                form.form-inline
                  .form-group
                    label(for='extraBallFilterDropdownButton') Extra Balls: &nbsp;
                    #extraBallFilterDropdown.dropdown
                      button#extraBallFilterDropdownButton.btn.btn-sm.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                        | Any
                        span.caret
                      ul.dropdown-menu(aria-labelledby='extraBallFilterDropdownButton')
                        li
                          a Any
                        li
                          a 0
                        li
                          a 1
            #settingsHeading.panel-heading(role='tab')
              h4.panel-title
                a(role='button', data-toggle='collapse', data-parent='#accordion', href='#settingsCollapse', aria-expanded='false', aria-controls='settingsCollapse')
                  | Settings
            #settingsCollapse.panel-collapse.collapse(role='tabpanel', aria-labelledby='settingsHeading')
              .panel-body
                form.form-inline
                  .form-group
                    label(for='playerColumnsDropdownButton') Player Columns: &nbsp;
                    #playerColumnsDropdown.dropdown
                      button#playerColumnsDropdownButton.btn.btn-sm.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                        | 4
                        span.caret
                      ul.dropdown-menu(aria-labelledby='playerColumnsDropdownButton')
                        li
                          a 1
                        li
                          a 2
                        li
                          a 3
                        li
                          a 4
                  .form-group
                    label(for='hideLabelsCheckbox')
                      | Hide Labels: &nbsp;
                      input#hideLabelsCheckbox(type='checkbox')



    article
      section
        table.table.table-bordered.table-striped
          thead
            tr
              th
              th(colspan="2")
                | All Players
              th#player1ColumnHeader.player1.player-header(colspan="5")
              th#player2ColumnHeader.player2.player-header(colspan="4")
              th#player3ColumnHeader.player3.player-header(colspan="4")
              th#player4ColumnHeader.player4.player-header(colspan="4")
            tr
              th
              th
                | Median
              th
                | Plays
              th.player1
                | Ratio
              th.player1
                | Median
              th.player1
                | High
              th.player1
                | Low
              th.player1
                | Plays
              th.player2
                | Median
              th.player2
                | High
              th.player2
                | Low
              th.player2
                | Plays
              th.player3
                | Median
              th.player3
                | High
              th.player3
                | Low
              th.player3
                | Plays
              th.player4
                | Median
              th.player4
                | High
              th.player4
                | Low
              th.player4
                | Plays
          tbody
        .bottomDiv
          p
            span.totalScores
              | 313
            |  Scores, 
            span.totalPins
              | 13
            |  Pins, 
            span.totalPlayers
              | 1
            |  Players, 
            span.totalEvents
              | 3
            |  Events


    script(id="player-column-header" type="text/x-handlebars-template")
      .dropdown
        button.btn.btn-default.dropdown-toggle.player-name(id="{{playerIdDropdownMenu}}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
          | Choose a Player
          span.caret
        ul.dropdown-menu(aria-labelledby="{{playerIdDropdownMenu}}")
          | {{#each players}}
          li
            a(data-value="action" data-id="{{ifpaId}}")
              | {{playerName}}
          | {{/each}}



    script(id="score-row-template" type="text/x-handlebars-template")
      tr
        th.pin-description
          span.pin-name {{pinName}}
          br
          span.label(class="{{pinLabelClass}}") {{pinMake}}
          span.label.label-info {{pinYear}}
        td
          span(title="{{allQuartilesString}}")
            | {{allMedian}}
        td
          | {{allPlays}}
        td.player1(class="{{p1GoodOrBad}}")
          | {{p1Ratio}}
        td.player1(class="{{p1GoodOrBad}}")
          | {{p1Median}}
        td.player1(class="{{p1GoodOrBad}}")
          | {{p1High}}
        td.player1(class="{{p1GoodOrBad}}")
          | {{p1Low}}
        td.player1
          | {{p1Plays}}
        td.player2(class="{{p2GoodOrBad}}")
          | {{p2Median}}
        td.player2(class="{{p2GoodOrBad}}")
          | {{p2High}}
        td.player2(class="{{p2GoodOrBad}}")
          | {{p2Low}}
        td.player2
          | {{p2Plays}}
        td.player3(class="{{p3GoodOrBad}}")
          | {{p3Median}}
        td.player3(class="{{p3GoodOrBad}}")
          | {{p3High}}
        td.player3(class="{{p3GoodOrBad}}")
          | {{p3Low}}
        td.player3
          | {{p3Plays}}
        td.player4(class="{{p4GoodOrBad}}")
          | {{p4Median}}
        td.player4(class="{{p4GoodOrBad}}")
          | {{p4High}}
        td.player4(class="{{p4GoodOrBad}}")
          | {{p4Low}}
        td.player4
          | {{p4Plays}}
