
body {
  font-family: 'Dosis', sans-serif !important;
}

header {
  margin-top: 15px;
}

.title {
  font-weight:  700;
  font-size: 48px;

  margin-left: 15px;
  //margin-bottom: 15px;
}

#settings-accordion {

  .panel-heading {
    padding-top: 5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-bottom: 5px;
  }

  .panel-heading > .panel-title > a {
    font-size: smaller;
  }

  .dropdown-menu {
    // font-size: smaller;
  }
}

.form-inline .dropdown {
  display: inline-block;
}

.dropdown .caret {
  margin-left: 4px !important;
}

.player-name {
  font-size: 18px !important;
}

.bottomDiv {
  margin-left: 30px;
}

// http://paletton.com/#uid=73+1k0k7-pl0O+g2+Gzaoggfy8t
$color1Light1: #71718D;
$color1Light2: #BEBECE;
$color1Primary: #F8F8FD;

$color2Light1: #AD8495;
$color2Light2: #E8D2DB;
$color2Primary: #FEF8FA;

$color3Light1: #A4B88C;
$color3Light2: #E6F0DA;
$color3Primary: #FCFEF8;

$color4Light1: #CABE9A;
$color4Light2: #FFF9E7;
$color4Primary: #FFFDF9;


td {
  font-size: medium;
  font-weight: 600;
  font-family: 'Dosis', sans-serif;
  text-align: right;

  &.good {
    font-weight: 700;
  }
  &.bad {
    font-weight: 500;
  }
}

.table-striped>tbody>tr:nth-of-type(odd) > td {
  &.player1 {
    background-color: $color1Light1;
  }
  &.player2 {
    background-color: $color2Light1;
  }
  &.player3 {
    background-color: $color3Light1;
  }
  &.player4 {
    background-color: $color4Light1;
  }
}

.table-striped>tbody>tr:nth-of-type(even) > td {
  &.player1 {
    background-color: $color1Light2;
  }
  &.player2 {
    background-color: $color2Light2;
  }
  &.player3 {
    background-color: $color3Light2;
  }
  &.player4 {
    background-color: $color4Light2;
  }
}

thead>tr>th {
  &.player1 {
    background-color: $color1Primary;
  }
  &.player2 {
    background-color: $color2Primary;
  }
  &.player3 {
    background-color: $color3Primary;
  }
  &.player4 {
    background-color: $color4Primary;
  }
}